{% extends 'base.html.twig' %}

{% block title %}Twt index{% endblock %}

{% block body %}
    <h1>Twt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rang</th>
                <th>BonEntree</th>
                <th>CodeCollecteur</th>
                <th>RsCollecteur</th>
                <th>Region</th>
                <th>Zone</th>
                <th>Agriculteur</th>
                <th>Matricule</th>
                <th>Type</th>
                <th>CodeTransporteur</th>
                <th>RsTransporteur</th>
                <th>Chauffeur</th>
                <th>NumTel</th>
                <th>N1</th>
                <th>DateEntree</th>
                <th>TarifTrans</th>
                <th>Operateur</th>
                <th>Article</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for twt in twts %}
            <tr>
                <td>{{ twt.id }}</td>
                <td>{{ twt.Rang }}</td>
                <td>{{ twt.bonEntree }}</td>
                <td>{{ twt.codeCollecteur }}</td>
                <td>{{ twt.rsCollecteur }}</td>
                <td>{{ twt.region }}</td>
                <td>{{ twt.zone }}</td>
                <td>{{ twt.agriculteur }}</td>
                <td>{{ twt.matricule }}</td>
                <td>{{ twt.type }}</td>
                <td>{{ twt.codeTransporteur }}</td>
                <td>{{ twt.rsTransporteur }}</td>
                <td>{{ twt.chauffeur }}</td>
                <td>{{ twt.numTel }}</td>
                <td>{{ twt.n1 }}</td>
                <td>{{ twt.dateEntree ? twt.dateEntree|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ twt.tarifTrans }}</td>
                <td>{{ twt.operateur }}</td>
                <td>{{ twt.article }}</td>
                <td>
                    <a href="{{ path('app_controller_test_show', {'id': twt.id}) }}">show</a>
                    <a href="{{ path('app_controller_test_edit', {'id': twt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_controller_test_new') }}">Create new</a>
{% endblock %}
